*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;

}

body{
    background: linear-gradient( #d1a171,#ffff,rgb(83, 51, 51));
}
.h-100{
    min-height: 100vh;
}